{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
        <h1>Something Useful</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p><a class="btn btn-lg btn-success" id="press" href="#" role="button">Click me</a></p>
      </div>

{% endblock content %}

{% block scripts %}
<script type="text/javascript">
    // Executes on load
    $(function (){
        $('#press').on('click', function() {
            alert(window.location.origin + '/stream')
            return false;
        })

    });
</script>
{% endblock scripts %}
