{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
        <h1>Something Useful</h1>
        <canvas id="screen" width="100%" height="600px" border="1px"></canvas>
        <a class="btn btn-lg btn-success" id="press" href="#" role="button">Click me</a></p>
      </div>

{% endblock content %}

{% block scripts %}
<script type="text/javascript">
    // Executes on load
    $(function (){
        $('#press').on('click', function() {
            alert(window.location.origin + '/stream')
            return false;
        });
        var context = $('#screen').get().getContext('2d');
        content.fillRect(0, 0, 100, 100);

    });
</script>
{% endblock scripts %}
